## FOODIFY
PROJECT_NAME=foodify
ENVIRONMENT=change

## FASTAPI
FASTAPI_HOST=change
FASTAPI_PORT=change

# POSTGRESQL
POSTGRES_PASSWORD=Change
POSTGRES_USER=Change
POSTGRES_DB=Change
POSTGRES_EXTERNAL_PORT=Change
POSTGRES_INTERNAL_PORT=Change

## PGADMIN
PGADMIN_DEFAULT_EMAIL=Change
PGADMIN_DEFAULT_PASSWORD=Change
PGADMIN_LISTEN_PORT=Change

## CORS
ALLOW_ORIGINS='http://localhost:9000, http://192.168.37.57:9000'
ALLOW_CREDENTIALS=True
ALLOW_METHODS='["*"]'
ALLOW_HEADERS='["*"]'

## OAUTH
SECRET_KEY=change
ALGORYTHM=change

## WEBSCRAPING
TEST_IMAGE_PATH=resources/img/cocacola.jpg
DIA_URL=https://www.dia.es/search?q=
DIA_URL_CHART=https://www.dia.es/cart
CARREFOUR_URL=https://www.carrefour.es/?q=
CARREFOUR_URL_CHART=https://www.carrefour.es/supermercado/MiCarrito
ALCAMPO_URL=https://www.alcampo.es/compra-online/search/?department=&text=
ALCAMPO_URL_CHART=https://www.alcampo.es/compra-online/checkout/first/cart-review

